h1 {

    color: black;
    font-size: 200%;
    text-align: center;

}

h2 {

    text-align: center;
    border: 1px solid black;
    margin: 0;
    margin-left: 100px;

}

.chicken {

    background-color: rosybrown;

}

.beaf {
    
    background-color: red;

}

.sushi {

    background-color: tan;

}

div .box {

    border: 1px solid black;
    margin: 40px;
    width: 300px;
    box-sizing: border-box;
    
}