* {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1 {

    color: black;
    font-size: 200%;
    text-align: center;
    margin-top: 20px;

}

h2 {

    text-align: center;
    border: 1px solid black;
    margin-left: 50%;

}

.chicken {

    background-color: rosybrown;

}

.beaf {
    
    background-color: red;

}

.sushi {

    background-color: tan;

}

p {

    padding: 5px 15px 5px 15px;
    text-align: justify;

}

.box {

    border: 1px solid black;
    margin: 40px;
    width: 25%;
    height: 25%;
    background-color: gray;
    float: left;
    
}



